#center-piece{
    display: flex;
    justify-content: center;
    /*border: 2px solid black;*/
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    background-color: white;
    margin-top: 3px;

    flex-direction: column;

    padding-bottom: 30px;
}

body{
    background-image: url("../assets/background.png");
}

.navbar-item:hover{
	background-color: rgba(100,100,100,1);
}

.navbar-item{
	color: white;
}

#hello{
    display: flex;
    justify-content: center;
}

#synopsus{
    display: flex;
    justify-content: space-around;
}

#about-me{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px;
    font-size: 18px;
}

#kyle{
    margin-right:10px;
    margin-bottom: 10px;
    border-radius: 12px;
    height: 300px;
}

#video{
    display: flex;
    justify-content: center;
    height: 266px;
    margin: 10%;
}